body{
	background-color: magenta;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
header{
	display:block;
	margin-left:auto;
	margin-right:auto;
	font-size: 30pt;
	text-align: center;
}



.board {
	height: 400pt; 
	width: 400pt;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	border: solid black 10pt; 
}

.space.white{
	display: block;
	height: 50pt; 
	width: 50pt;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.space.black{
	height:50pt;
	width:50pt;
	background-color: grey;
	text-align: center;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.grab{ 
	
	border: solid lime 5pt;
}
	
.hovered{
	
	border-style: dashed;
	border-color: lime;
	
}


.pawnImage{
	width: 40pt;
	height: 40pt;
	cursor: pointer;
	display: center;
}

.imageContainer{
	height: 44pt;
	width: 44pt;
	
	display:flex;
	justify-content: space-around;
}

.dissapear {
	display: none;
}

.newGameButton{
	size:30pt;
}


	

	

	























	
	


	


















